<div class="hr_container">
  <div>
    <h3>Lista grafików</h3>
    <div>
      <mat-form-field>
        <mat-label>Miesiąc</mat-label>
        <mat-select [(ngModel)]="scheduleValue" (selectionChange)="changeSchedule($event.value)">
          <mat-option *ngFor="let schedule of scheduleList" [value]="schedule">
            {{schedule.scheduleDate | date:'LLLL yyyy'}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>Edytuj ustawienia grafika</p>
      <div class="edit">
        <mat-slide-toggle
          [checked]="isActive('aktywny')"
          #active>Aktywny</mat-slide-toggle>
        <br>
        <mat-slide-toggle
          [checked]="isActive('widoczny')"
          #visible>Widoczny</mat-slide-toggle>
        <br>
        <button mat-flat-button
          [disabled]="disableButton"
          matTooltip="Wybierz grafik z listy i zmień jego ustawienia"
          (click)="sendChanges(visible.checked, active.checked)">Zmień ustawienia</button>
      </div>
    </div>
  </div>
</div>
