<div class="container">
    <div>
        <h3>Lista grafików</h3>
        <form>
            <mat-form-field>
                <mat-label>Miesiąc</mat-label>
                <mat-select [(ngModel)]="scheduleValue" name="schedule">
                    <mat-option *ngFor="let schedule of scheduleList" [value]="schedule">
                        {{schedule.scheduleDate | date:'LLLL yyyy'}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <p> Selected schedule: {{scheduleValue | json}} </p>
        </form>
    </div>
    <mat-divider></mat-divider>
    <div>
        <p>Utwórz nowy grafik</p>
    </div>
</div>