<h2>Lista użytkownikow</h2>
<br>
<div>
  <div fxLayoutAlign="start start">
    <div class="space">
      <mat-slide-toggle [(ngModel)]="isActivated" (click)="refresh()">Aktywni</mat-slide-toggle>
    </div>
    <div>
      <mat-form-field>
        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Szukaj">
      </mat-form-field>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Kolumna pozycja -->
      <ng-container matColumnDef="pozycja" class="id">
        <th mat-header-cell *matHeaderCellDef fxFlex="5%">Lp.</th>
        <td mat-cell *matCellDef="let element let i = index" fxFlex="5%"> {{i+1}} </td>
      </ng-container>

      <!-- Kolumna login -->
      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="30%">Login</th>
        <td mat-cell *matCellDef="let element" fxFlex="30%"> {{element.login}} </td>
      </ng-container>

      <!-- Kolumna rola-->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef fxFlex="30%">Rola</th>
        <td mat-cell *matCellDef="let element" fxFlex="30%"> {{element.role | roles}} </td>
      </ng-container>

      <!-- Kolumna status-->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef fxFlex="20%">Status</th>
        <td mat-cell *matCellDef="let element" fxFlex="20%"> {{element.status | activeBoolean}} </td>
      </ng-container>

      <!-- Kolumna akcji aktywuj -->
      <ng-container matColumnDef="aktywuj">
        <th mat-header-cell *matHeaderCellDef fxFlex="6%">Aktywacja</th>
        <td mat-cell *matCellDef="let element" fxFlex="6%">
          <button mat-icon-button (click)="changeStatus(element.id, element.status)" [ngStyle]="{'color':element.status === true ? 'red' : 'green' }">
            <mat-icon class="mat-18">check_circle</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Kolumna akcji edytuj-->
      <ng-container matColumnDef="edytuj">
        <th mat-header-cell *matHeaderCellDef fxFlex="6%">Edytuj</th>
        <td mat-cell *matCellDef="let element" fxFlex="6%">
          <button mat-icon-button color="primary" (click)="editDialog(element.id)">
            <mat-icon class="mat-18">system_update</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    // Angular 8 pagination
    <mat-paginator [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons></mat-paginator>
  </div>

  <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
