.dashboard {
  height: 400px;
}
mat-grid-tile {
  margin: 50px;
}

.route {
  border-left: 2px solid rgba(0, 0, 0, 0.12);
}

.container {
  flex-direction: column;
}

mat-grid-tile.mat-grid-tile {
  height: 500px;
}

