table {
  width: 100%;
}

.container {
  position: relative;
  min-height: 200px;
}

.counter {
  font-size: large;
  padding: 10px;
}

th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table td + td {
  border-left:1px ridge lightgray;
  text-align: justify;
  padding-left: 5px;
}


.mat-row:hover {
  background-color:grey;
}
// Table Columns

.mat-column-no {
  flex: 0 0 3% !important;
  width: 3% !important;
}

.mat-column-lastName {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-lider {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-row:nth-child(even){
  background-color: #CCC;
  border-left:1px ridge white;
  }
