<div>
  <h2>Stan osobowy pracowników</h2>

  <!-- Licznik pracowników -->
  <div class="counter" *ngIf="!isLoadingResults">
    <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="center">
      <div>Pracujących: <b>{{counter.working}}</b></div>
      <div>Na chorobie: <b>{{counter.l4}}</b></div>
      <div>Zawieszeni: <b>{{counter.suspend}}</b></div>
    </div>
  </div>
  <div class="container">
    <!-- Spinner -->
    <div class="loading" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>

    ETET / pracuje do i od login_lt, <br>
    Wywyalić: płeć, data urodzenia, fte, miasto

    <!-- Tabela -->
    <div class="example-table-container">
      <table mat-table [dataSource]="dataSource" matMultiSort atSortActive="lastName" matSortDirection="asc">

        <!-- No. Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let data; let i = index">{{i+1}}</td>
        </ng-container>

        <!-- FullName Column -->
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-multi-sort-header="fullName">Nazwa</th>
          <td mat-cell *matCellDef="let data">{{data.fullName}}</td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-multi-sort-header="position">Stanowisko</th>
          <td mat-cell *matCellDef="let data">{{data.position | titlecase}}</td>
        </ng-container>

        <!-- Section Column -->
        <ng-container matColumnDef="userSection">
          <th mat-header-cell *matHeaderCellDef>Sekcja</th>
          <td mat-cell *matCellDef="let data">{{data.userSection}}</td>
        </ng-container>

        <!-- Section Column -->
        <ng-container matColumnDef="userLine">
          <th mat-header-cell *matHeaderCellDef>Linia</th>
          <td mat-cell *matCellDef="let data">{{data.userLine}}</td>
        </ng-container>

        <!-- Work status Column -->
        <ng-container matColumnDef="workStatus">
          <th mat-header-cell *matHeaderCellDef>Stan</th>
          <td mat-cell *matCellDef="let data">{{data.workStatus | status}}</td>
        </ng-container>

        <!-- Lider Column -->
        <ng-container matColumnDef="lider">
          <th mat-header-cell *matHeaderCellDef>Lider</th>
          <td mat-cell *matCellDef="let data">{{searchLider(data.userSection)}}</td>
        </ng-container>

        <!-- Sex Column -->
        <ng-container matColumnDef="sex">
          <th mat-header-cell *matHeaderCellDef mat-multi-sort-header="sex">Płeć</th>
          <td mat-cell *matCellDef="let data">
            <ng-container *ngIf="data.sex === 'k'; else elseTemplate">
              Kobieta
            </ng-container>
            <ng-template #elseTemplate>
              Mężczyzna
            </ng-template>
          </td>
        </ng-container>

        <!-- Birthday Column -->
        <ng-container matColumnDef="birthday">
          <th mat-header-cell *matHeaderCellDef>Data urodzenia</th>
          <td mat-cell *matCellDef="let data">{{data.birthday | date}}</td>
        </ng-container>

        <!-- Contract Column -->
        <ng-container matColumnDef="contractType">
          <th mat-header-cell *matHeaderCellDef>Umowa</th>
          <td mat-cell *matCellDef="let data">{{data.contractType}}</td>
        </ng-container>

        <!-- Start Column -->
        <ng-container matColumnDef="startContractDate">
          <th mat-header-cell *matHeaderCellDef>Umowa od</th>
          <td mat-cell *matCellDef="let data">{{data.startContractDate | date}}</td>
        </ng-container>

        <!-- End Column -->
        <ng-container matColumnDef="endContractDate">
          <th mat-header-cell *matHeaderCellDef>Umowa do</th>
          <td mat-cell *matCellDef="let data">{{data.endContractDate | date}}</td>
        </ng-container>

        <!-- Crm Column -->
        <ng-container matColumnDef="crm">
          <th mat-header-cell *matHeaderCellDef>Konto CRM ważne do</th>
          <td mat-cell *matCellDef="let data">{{data.crmExpirationDate | date}}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let data">{{data.email}}</td>
        </ng-container>

        <!-- fte Column -->
        <ng-container matColumnDef="fte">
          <th mat-header-cell *matHeaderCellDef>FTE</th>
          <td mat-cell *matCellDef="let data">{{data.fte}}</td>
        </ng-container>

        <!-- city Column -->
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef>Miasto zamieszkania</th>
          <td mat-cell *matCellDef="let data">{{data.city}}</td>
        </ng-container>

        <!-- leave Column -->
        <ng-container matColumnDef="leave">
          <th mat-header-cell *matHeaderCellDef>Ilość urlopu</th>
          <td mat-cell *matCellDef="let data">{{data.leave}}</td>
        </ng-container>

        <!-- ACtion Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Akcja</th>
          <td mat-cell *matCellDef="let data">
            <button mat-icon-button (click)="onSelect(data)" color="primary"> <mat-icon>edit</mat-icon> </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

</div>
