<div class="container">
  <h1 mat-dialog-title>
    {{data.simpleEmployee.fullName}} <br>
    za dzień {{data.recordDate | date: 'mediumDate'}} <br>
    <small>{{data.recordDate | date: 'EEEE'}}</small>

  </h1>
  <ng-container *ngIf="isAvailable(); then showRecod; else insertRecord"></ng-container>

  <mat-divider></mat-divider>
  <!-- Gdy rekord istnieje -->
  <ng-template #showRecod>
    <mat-dialog-content>
      <table class="table">
        <thead>
          <tr>
            <th class="table-header">Status</th>
            <th class="table-header">Rozpoczęcie</th>
            <th class="table-header">Zakończenie</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of scheduleStatus">
          <tr>
            <td class="table-row-status">{{item.name}}</td>
            <td class="table-row-time">{{displayTimeByStatus(item.key, 'start')}}</td>
            <td class="table-row-time">{{displayTimeByStatus(item.key, 'end')}}</td>
          </tr>
        </tbody>
      </table>
    </mat-dialog-content>
  </ng-template>

  <!-- Gdy record nie istenije -->
  <ng-template #insertRecord>

  </ng-template>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close mat-dialog-close="true">Zatwierdź</button>
    <button mat-button mat-dialog-close mat-dialog-close="false">Anuluj</button>
  </mat-dialog-actions>
</div>
