<nav class="nav flex-column">
  <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</a>
  <a class="nav-link" [routerLink]="['/user']" routerLinkActive="router-link-active" >Użytkownik</a>
  <a class="nav-link" [routerLink]="['/hr']" routerLinkActive="router-link-active">HR</a>
  <a class="nav-link" [routerLink]="['/raports']" routerLinkActive="router-link-active">Raporty</a>
  <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="router-link-active" >Admin</a>
</nav>