// SideNav
mat-sidenav-container {
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  width: 220px;
  background-color: #f1f1f1;
}

.sub-menu a {
  font-size: small;
  padding-left: 10px;
}

.navbar {
  justify-content: space-between;
  background-color: #8bc34a;
}
.navbar-right {
  font-size: medium;
}

span {
  padding-right: 1rem;
}

.all-wrap {
  min-height: 100vh;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

mat-toolbar {
  border-radius: 5px;
}
