<mat-sidenav-container class="all-wrap">
  <!-- Zawartość sidenav-->
  <mat-sidenav opened mode="side" #sidenav>
    Panel
    <mat-nav-list>
      <a mat-list-item class="nav-link" href="/#/main">Dashboard</a>

      <!-- Menu dla pracownika -->
      <mat-divider></mat-divider>
      <a mat-list-item (click)="toggleEmpl()">Pracownik</a>
      <mat-list *ngIf="showEmpl" class="sub-menu">
        <a mat-list-item class="nav-link" routerLink="/main/empl">Czas pracy</a>
        <a mat-list-item class="nav-link" routerLink="/main/empl/urlop">Urlopy</a>
        <a mat-list-item class="nav-link" routerLink="/main/empl/nieobecnosc">Zgłoś nieobecność</a>
        <a mat-list-item class="nav-link" routerLink="/main/empl/dyspozycyjnosc">Zgłoś dyspozycyjność</a>
      </mat-list>

      <!-- Menu dla kierownika -->
      <div *ngIf="userRole == 'ROLE_ADMIN' || userRole == 'ROLE_HR' || userRole == 'ROLE_SPEC' || userRole == 'ROLE_MANAGER' || userRole == 'ROLE_SENIOR'">
        <!-- NgIf dla roli -->
        <mat-divider></mat-divider>
        <a mat-list-item (click)="toggleManager()">Kierownik</a>
        <mat-list *ngIf="showManager" class="sub-menu">
          <a *ngIf="userRole != 'ROLE_SPEC'" mat-list-item class="nav-link" routerLink="/main/manager">Panel kierownika</a>
          <a mat-list-item class="nav-link" routerLink="/main/manager/grupy">Harmonogram grupy</a>
          <a mat-list-item class="nav-link" routerLink="/main/manager/pracownik">Harmonogram konsultanta</a>
          <a *ngIf="userRole != 'ROLE_SPEC'" mat-list-item class="nav-link" routerLink="/main/manager/urlopy">Akceptacja nieobecności</a>
          <a *ngIf="userRole != 'ROLE_SPEC'" mat-list-item class="nav-link" routerLink="/main/manager/dyspozycyjnosc">Sprawdź dyspozycyjność</a>
        </mat-list>
      </div>

      <!-- Menu dla działu HR -->
      <div *ngIf="userRole == 'ROLE_ADMIN' || userRole == 'ROLE_HR' || userRole == 'ROLE_SENIOR'">
        <!-- NgIf dla roli -->
        <mat-divider></mat-divider>
        <a mat-list-item (click)="toggleHR()">HR</a>
        <mat-list *ngIf="showHR" class="sub-menu">
          <a mat-list-item class="nav-link" routerLink="/main/hr">Dział HR</a>
          <a mat-list-item class="nav-link" routerLink="/main/hr/harmonogram">Harmonogram</a>
          <a mat-list-item class="nav-link" routerLink="/main/hr/obecnosc">Obecność</a>
          <a mat-list-item class="nav-link" routerLink="/main/hr/stan-osobowy">Stan osobowy</a>
          <a mat-list-item class="nav-link" routerLink="/main/hr/zatrudnij">Zatrudnij</a>
          <a mat-list-item class="nav-link" routerLink="/main/hr/wnioski">Wnioski</a>
        </mat-list>
      </div>

      <!-- Menu dla raportów -->
      <div *ngIf="userRole == 'ROLE_ADMIN' || userRole == 'ROLE_HR' || userRole == 'ROLE_SENIOR'">
        <!-- NgIf dla roli -->
        <mat-divider></mat-divider>
        <a mat-list-item (click)="toggleRaports()">Raporty</a>
        <mat-list *ngIf="showRaports" class="sub-menu">
          <a mat-list-item class="nav-link" routerLink="/main/raport/lista">Stan osobowy</a>
          <a mat-list-item class="nav-link" routerLink="/main/raport/urlopy">Stan urlopowy</a>
          <a mat-list-item class="nav-link" routerLink="/main/raport/nieobecnosci">Stan nieobecności</a>
          <a mat-list-item class="nav-link" routerLink="/main/raport/fte">FTE</a>
        </mat-list>
      </div>

      <!-- Menu dla paneulu administracyjnego -->
      <div *ngIf="userRole == 'ROLE_ADMIN'">
        <!-- NgIf dla roli -->
        <mat-divider></mat-divider>
        <a mat-list-item (click)="toggleAdmin()">Admin</a>
        <mat-list *ngIf="showAdmin" class="sub-menu">
          <a mat-list-item class="nav-link" routerLink="/main/admin/users">Użytkownicy</a>
          <a mat-list-item class="nav-link" routerLink="/main/admin/config">Konfiguracja</a>
          <a mat-list-item class="nav-link" routerLink="/main/admin/server">Serwer</a>
        </mat-list>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main -->
  <mat-sidenav-content class="page-wrap">
    <!-- Header toolbar-->
    <mat-toolbar color="primary" class="navbar">
      <div>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        Harmony
      </div>
      <div class="navbar-right">
        <span>Witaj, {{user}}</span>
        <a mat-list-item class="nav-link" href="/#/login" (click)="logout()">Wyloguj</a>
      </div>
    </mat-toolbar>

    <!-- Zawartość strony -->
    <router-outlet></router-outlet>
   </mat-sidenav-content>
</mat-sidenav-container>
