<div class="container">
  <h3>Zmiana danych</h3>
  <div [ngSwitch]="formatka" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">

    <!-- Formatka dla danych podstawowych -->
    <div *ngSwitchCase="'employee'">
      <form [formGroup]="employeeForm" class="form_style" (ngSubmit)="submitEmployee()">
        <div>
          <mat-form-field>
            <input matInput placeholder="Adres email" formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Stanowisko</mat-label>
            <select matNativeControl formControlName="position">
              <option value="doradca">Doradca</option>
              <option value="specjalista">Specjalista</option>
              <option value="kierownik">Kierownik</option>
            </select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Stanowisko na umowie" formControlName="contractPosition">
          </mat-form-field>
          <mat-form-field *ngIf = "contracts">
            <mat-select formControlName="contractType" placeholder="Umowa" >
              <mat-option *ngFor="let contract of contracts" [value]="contract.name">
                {{contract.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Forma wynagrodzenia</mat-label>
            <select matNativeControl formControlName="basicUnit">
              <option value="stawka">Stawka</option>
              <option value="kwota">Kwota</option>
            </select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Stawka" formControlName="unit">
          </mat-form-field>
        </div>
        <button mat-raised-button mat-dialog-close mat-dialog-close="true" color="primary" type="submit" [disabled]="!employeeForm.valid">Edytuj</button>
      </form>
    </div>

    <!-- Formatka dla danych dodatkowych-->
    <div *ngSwitchCase="'employeeDetails'">
      <form [formGroup]="employeeDetailsForm" class="form_style" (ngSubmit)="submitEmployeeDetails()">
        <div>
          <mat-form-field>
            <input matInput placeholder="Numer ID LT" formControlName="ltId">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Login LT" formControlName="ltLogin">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Login CRM" formControlName="crmLogin">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Data wygaśnięcia konta" formControlName="crmExp">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field *ngIf = "lines">
            <mat-select formControlName="userLine" placeholder="Linia" >
              <mat-option *ngFor="let line of lines" [value]="line.name">
                {{line.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf = "sections">
            <mat-select formControlName="userSection" placeholder="Sekcja" >
              <mat-option *ngFor="let section of sections" [value]="section.name">
                {{section.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="FTE" formControlName="fte">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="FTE na starcie" formControlName="fteStart">
          </mat-form-field>
        </div>
        <div class="goals">
          <mat-form-field>
            <input matInput placeholder="Cel 1" formControlName="goal1">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Cel 2" formControlName="goal2">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Cel 3" formControlName="goal3">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Cel 4" formControlName="goal4">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Cel 5" formControlName="goal5">
          </mat-form-field>
        </div>
        <button mat-raised-button mat-dialog-close mat-dialog-close="true" color="primary" type="submit" [disabled]="!employeeDetailsForm.valid">Edytuj</button>
      </form>
    </div>

    <!-- Formatka dla danych informacyjnych -->
    <div *ngSwitchCase="'employeeInfo'">
      <form [formGroup]="employeeInfoForm" class="form_style" (ngSubmit)="submitEmployeeInfo()">
        <div>
          <mat-checkbox color="primary" class="example-margin" formControlName="agreement">Zgoda na wizerunek</mat-checkbox>
          <mat-checkbox color="primary" class="example-margin" formControlName="ppk">Zgoda PPK</mat-checkbox>
          <mat-checkbox color="primary" class="example-margin" formControlName="headphones">Słuchawki</mat-checkbox>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Numer szafki" formControlName="locker">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Numer karty RCP" formControlName="idCard">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Numer karty parkingowej" formControlName="parkingCard">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Info</mat-label>
            <textarea matInput formControlName="info1"></textarea>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Info 2</mat-label>
            <textarea matInput formControlName="info2"></textarea>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Info 3</mat-label>
            <textarea matInput formControlName="info3"></textarea>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Info 4</mat-label>
            <textarea matInput formControlName="info4"></textarea>
          </mat-form-field>
        </div>
        <button mat-raised-button mat-dialog-close mat-dialog-close="true" color="primary" type="submit" [disabled]="!employeeInfoForm.valid">Edytuj</button>
      </form>
    </div>

    <!-- Formatka dla danych kontaktowych -->
    <div *ngSwitchCase="'employeeContact'">
      <form [formGroup]="employeeContactForm" class="form_style" (ngSubmit)="submitEmployeeContact()">
        <div>
          <mat-form-field>
            <input matInput placeholder="Kod pocztowy" formControlName="zipCode">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Miasto" formControlName="city">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Adres" formControlName="address">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Numer telefonu" formControlName="phone">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Osoba kontaktowa" formControlName="contact">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Numer osoby kontaktowej" formControlName="contactPhone">
          </mat-form-field>
        </div>
        <button mat-raised-button mat-dialog-close mat-dialog-close="true" color="primary" type="submit" [disabled]="!employeeContactForm.valid">Edytuj</button>
      </form>
    </div>

    <!-- Formatka dla danych urlopowych -->
    <div *ngSwitchCase="'employeeLeave'">
      <form [formGroup]="employeeLeaveForm" class="form_style" (ngSubmit)="submitEmployeeLeave()">
       <div>
        <mat-form-field>
          <input matInput placeholder="Urlop wypoczynkowy" formControlName="normal">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Urlop na żądanie" formControlName="uz">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Urlop dodatkowy" formControlName="add">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Urlop za zeszłe lata" formControlName="past">
        </mat-form-field>
       </div>
        <button mat-raised-button mat-dialog-close mat-dialog-close="true" color="primary" type="submit" [disabled]="!employeeLeaveForm.valid">Edytuj</button>
      </form>
    </div>

    <div *ngSwitchDefault class="error_form">
      Nieznany typ formatyki. Proszę spróbuj otworzyć formatkę edycji jeszcze raz.
    </div>
  </div>
</div>
