<p>
  <br>
  <mat-form-field>
    <mat-select placeholder="Wybierz miesiąc" #lista>
      <mat-option *ngFor="let schedule of scheduleList" [value]="schedule.scheduleDate">
        {{schedule.scheduleDate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="refresh(lista.value)">Załaduj</button>
</p>

<div class="table-container mat-elevation-z8" *ngIf="hidden">
  <table mat-table [dataSource]="dataSource">

    <!-- FullName Column -->
    <ng-container matColumnDef="fullName" sticky>
      <th mat-header-cell *matHeaderCellDef> Imię i Nazwisko </th>
      <td mat-cell *matCellDef="let element"> {{element.simpleEmployee.fullName}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Stanowisko </th>
      <td mat-cell *matCellDef="let element"> {{element.simpleEmployee.position}} </td>
    </ng-container>

    <!-- Day Column -->
    <div *ngFor="let months of month">
      <ng-container matColumnDef="{{months}}">
        <th mat-header-cell *matHeaderCellDef [style.background-color]=checkWeekend(months)> Dzień: {{months}} </th>
        <td mat-cell *matCellDef="let element" [style.background-color]=checkWeekend(months)>
          <div>
            {{transformDate(months, element)}}
          </div>
        </td>
      </ng-container>
    </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
