<p>Wybierz miesiąc
  <br>
  <mat-form-field>
    <mat-select placeholder="Wybierz datę" #lista>
      <mat-option *ngFor="let schedule of scheduleList" [value]="schedule.scheduleDate" >
        {{schedule.scheduleDate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>
<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- FullName Column -->
    <ng-container matColumnDef="fullName" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Imię i Nazwisko </th>
      <td mat-cell *matCellDef="let element"> {{element.simpleEmployee.fullName}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stanowisko </th>
      <td mat-cell *matCellDef="let element"> {{element.simpleEmployee.position}} </td>
    </ng-container>

    <!-- Day Column -->
    <div *ngFor="let months of month">
      <ng-container matColumnDef="{{months}}">
        <th mat-header-cell *matHeaderCellDef> test </th>
        <td mat-cell *matCellDef="let element" (click)="scheduleDialog(element.simpleEmployee.fullName, element.scheduleRecords[months])"> {{element.scheduleRecords[months].status}} </td>
      </ng-container>
    </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<button (click)="refresh(lista.value)">Test</button>
