<mat-sidenav-container class="all-wrap">
  <!-- Zawartość sidenav-->
  <mat-sidenav opened mode="side" #sidenav>
    Panel
    <mat-nav-list>
      <a mat-list-item href="#">Dashboard</a>
      <a mat-list-item href="#">Pracownik</a>
      <a mat-list-item href="#">Kierownik</a>
      <a mat-list-item href="#">HR</a>
      <a mat-list-item href="#">Raporty</a>
      <a mat-list-item href="#">Admin</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main -->
  <mat-sidenav-content class="page-wrap">
    <!-- Header -->
    <mat-toolbar color="primary" class="navbar">
      <div>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        Harmony
      </div>
      <div class="navbar-right">
        <span>Witaj XXX</span>
        <span>Ustawienia</span>
        <span>Wyloguj</span>
      </div>
    </mat-toolbar>
    <!-- Content -->
    Zawartość
  </mat-sidenav-content>
</mat-sidenav-container>
