.head {
  text-align: center;
}

.form_style .mat-form-field {
  width: 20%;
  margin-right: 8px;
}

.container {
  margin: 25px;
}

.personal_data {
  font-size: large;
}

.zgoda{
  background-color: green;
  width: 6%;
  text-align: center;
}

.brak_zgody{
  background-color: red;
  width: 6%;
  text-align: center;
}
