.head {
  text-align: center;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_style .mat-form-field {
  width: 20%;
  margin-right: 8px;
}

.container {
  margin: 25px;
}

.personal_data {
  font-size: large;
}

.zgoda{
  background-color: green;
  width: 6%;
  text-align: center;
}

.brak_zgody{
  background-color: red;
  width: 6%;
  text-align: center;
}
