table {
  width: 800px;
}

th, td {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  white-space: nowrap;
}

.table_container {
  height: 400px;
  overflow: auto;
}

// Table Columns
.mat-column-no {
  flex: 0 0 15% !important;
  width: 10% !important;
}

.mat-column-status {
  flex: 0 0 15% !important;
  width: 15% !important;
}

.mat-column-date {
  flex: 0 0 15% !important;
  width: 20% !important;
}

.buttons button{
  margin: 5px;
}
