<div>
  <div style="margin: 30px;">
    <button mat-raised-button (click)="menu('request')">Zgłoś nieobecność</button>
    <button mat-raised-button (click)="menu('check')" style="margin-left: 10px;">Wnioski urlopowe</button>
    <button mat-raised-button (click)="menu('absence')" style="margin-left: 10px; margin-bottom: 10px;">Sprawdź nieobecności</button>
  </div>
  <div [ngSwitch]="switchMenu">
    <!-- Kalendarz -->
    <ng-template [ngSwitchCase]="'request'">
      <div>
        <p><b>Wnioski urlopowe można składać tylko za bieżacy miesiąc. W innych przpydakch należy zgłosić się do działu
            HR.</b></p>
        <button mat-raised-button (click)="submit()" [disabled]="events.length<1">Wyślij wniosek</button>
        <p-fullCalendar [events]="events" [options]="options" defaultView="dayGridMonth">
        </p-fullCalendar>
      </div>
    </ng-template>

    <!-- Wnioski -->
    <ng-template [ngSwitchCase]="'check'">
      <div class="buttons">
        <button (click)="loadMyRequests('all')" mat-flat-button color="primary">Wszystkie</button> <br>
        <button (click)="loadMyRequests('accepted')" mat-flat-button color="primary">Zaakceptowane</button>
        <button (click)="loadMyRequests('declined')" mat-flat-button color="primary">Odrzucone</button>
        <button (click)="loadMyRequests('new')" mat-flat-button color="primary">Nowe</button>
      </div>

      <div *ngIf="displayTable">
        <!-- Spinner -->
        <div class="loading" *ngIf="isLoadingResults">
          <mat-spinner></mat-spinner>
        </div>

        <!-- Tabela -->
        <div class="table_container">
          <table mat-table [dataSource]="requestSource" matSort>

            <!-- No. Column -->
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let record; let i = index">{{i+1}}</td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
              <td mat-cell *matCellDef="let record">{{record.workDate | date:'yyyy LLLL dd'}}</td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let record">{{record.status | titlecase}}</td>
            </ng-container>

            <!-- Information Column -->
            <ng-container matColumnDef="text">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Info</th>
              <td mat-cell *matCellDef="let record">{{record.text}}</td>
            </ng-container>

            <!-- Last modification Column -->
            <ng-container matColumnDef="lastModifiedBy">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Login</th>
              <td mat-cell *matCellDef="let record">
                <div *ngIf="record.status === 'ODRZUCONY'">
                  {{record.lastModifiedBy}}
                </div>
              </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Akcja</th>
              <td mat-cell *matCellDef="let record">
                <button mat-icon-button color="warn" (click)="(cancel(record.id))">
                  <mat-icon class="mat-18">cancel</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </ng-template>

    <!-- Nieobecność -->
    <ng-template [ngSwitchCase]="'absence'">
      <p>ilośc nie obecności ogółem / za dany miesiąć oraz kiedy on był</p>

    </ng-template>
  </div>
</div>
