
<div class="normal_container">
  <mat-form-field>
    <mat-label>Miesiąc</mat-label>
    <mat-select [(ngModel)]="scheduleValue" #scheduleSelector>
      <mat-option *ngFor="let schedule of scheduleList" [value]="schedule">
        {{schedule.scheduleDate | date:'LLLL yyyy'}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="scheduleValue" style="margin-left: 40px;">
      <input matInput [matDatepicker]="dpDay" [min]="scheduleValue.scheduleDate" [max]="maxDate()"
        placeholder="Wybierz dzień"
        [(ngModel)]="date"
        disabled>
      <mat-datepicker-toggle matSuffix [for]="dpDay"></mat-datepicker-toggle>
      <mat-datepicker #dpDay disabled="false" [startAt]="scheduleValue.scheduleDate"></mat-datepicker>
    </mat-form-field>

    <button mat-button (click)="load()" style="margin-left: 40px;" *ngIf="scheduleValue" [disabled]="!date">Wczytaj</button>
    <button mat-button (click)="reload()" style="margin-left: 40px;" *ngIf="hidden">Przeładuj</button>
</div>

<!-- Spinner -->
<div class="loading" *ngIf="isLoadingResults">
  <mat-spinner></mat-spinner>
</div>

<div class="table-container" *ngIf="hidden">
  <h2 style="text-align: center;">Obecność na dzień {{titleDate | date:'d MMMM yyyy' }}</h2>
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- FullName Column -->
    <ng-container matColumnDef="fullName" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Imię i Nazwisko </th>
      <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Stanowisko </th>
      <td mat-cell *matCellDef="let element"> {{element.position | titlecase}} </td>
    </ng-container>

    <!-- User Line Column -->
    <ng-container matColumnDef="userLine">
      <th mat-header-cell *matHeaderCellDef> Linia </th>
      <td mat-cell *matCellDef="let element"> {{element.userLine}} </td>
    </ng-container>

    <!-- User Section Column -->
    <ng-container matColumnDef="userSection">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 110px;" > Sekcja </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.userSection}} </td>
    </ng-container>

    <!-- Dyspozycyjność Column -->
    <ng-container matColumnDef="dyspo">
      <th class="header_type" mat-header-cell *matHeaderCellDef> Dyspozycyjność</th>
      <td mat-cell *matCellDef="let element"> <app-presence-record [record]='findRecord("DYSPOZYCYJNOSC", element.id)' [presentation]="true"></app-presence-record> </td>
    </ng-container>

    <!-- Dostęponość Column -->
    <ng-container matColumnDef="dostp">
      <th class="header_type" mat-header-cell *matHeaderCellDef> Dostęponość </th>
      <td mat-cell *matCellDef="let element">
        <app-presence-record [record]='findRecord("DOSTEPNOSC", element.id)' [presentation]="contractDependent(element.contractType, 'dostepnosc')"></app-presence-record>
       </td>
    </ng-container>

    <!-- Grafik Column -->
    <ng-container matColumnDef="grafik">
      <th class="header_type" mat-header-cell *matHeaderCellDef> Grafik </th>
      <td mat-cell *matCellDef="let element">
        <app-presence-record [record]='findRecord("GRAFIK", element.id)' [presentation]="contractDependent(element.contractType, 'grafik')"></app-presence-record>
      </td>
    </ng-container>

    <!-- Zalogowanie Column -->
    <ng-container matColumnDef="login">
      <th class="header_type" mat-header-cell *matHeaderCellDef> Zalogowanie </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> Brak impl. </td>
    </ng-container>

    <!-- Jitsi Column -->
    <ng-container matColumnDef="jitsi">
      <th class="header_type" mat-header-cell *matHeaderCellDef> Jitsi </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> Brak impl. </td>
    </ng-container>

    <!-- Obecność Column -->
    <ng-container matColumnDef="obec">
      <th class="header_type" mat-header-cell *matHeaderCellDef> Obecność </th>
      <td mat-cell *matCellDef="let element"> <app-presence-record [record]='findRecord("OBECNOSC", element.id)' [presentation]="true"></app-presence-record> </td>
    </ng-container>

    <!-- Dzwonienie Column -->
    <ng-container matColumnDef="dzwon">
      <th class="header_type" mat-header-cell *matHeaderCellDef > Dzwonienie </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> Brak impl. </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
