<h2>Zatrudnij pracownika</h2>

<!-- Karta pierwsza -->
<mat-horizontal-stepper linear labelPosition="bottom" #stepper>
  <mat-step label="Wprowadź pesel" >
    <form [formGroup]="hireForm">
      <div>
        <h3>Wprowadź numer PESEL</h3>
        <mat-form-field hintLabel="Maksymalnie 11 liczb">
          <input matInput maxlength="11" placeholder="Pesel" formControlName="pesel">
        </mat-form-field>
        <!-- PESEL:
        <input formControlName="pesel" type="text"> -->
      </div>
      <div *ngIf="pesel.touched && pesel.invalid" class="error_msg">
        <p><small *ngIf="pesel.errors?.required">Pesel jest wymagany</small></p>
        <p><small *ngIf="pesel.errors?.pattern">Pesel musi mieć 11 znaków</small></p>
        <p><small *ngIf="pesel.errors?.peselValidator">Pesel jest nieprawidłowy</small></p>
      </div>
    </form>
    <button mat-button matStepperNext (click)="checkPesel()" [disabled]="hireForm.get('pesel').invalid">Dalej</button>
  </mat-step>

  <!-- Karta druga -->
  <mat-step label="Weryfikacja" [completed]=isStepTwoCompleted>
    <h2>Weryfikacja</h2>
    <div>
      <!-- Spiner -->
      <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center" fxLayout="column">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
        Trwa weryfikacja w bazie danych. Proszę czekać.
      </div>
      <!-- Warunki czy istnieje w bazie -->
      <div *ngIf="!isLoading">
        <div *ngIf="checkDB && simpleEmployee" fxLayout="column">

          <!-- Pracownik istnieje w bazie ale nie pracuje -->
          <ng-container *ngIf="simpleEmployee.workStatus === 'NOT_WORK'; else work">
            Pracownik o takim peselu istnieje już w bazie danych, ale został zwolniony. <br>
            <div>
              <h3>Dane pracownika:</h3>
              <b>Imię: </b> {{simpleEmployee.fullName}} <br>
              <b>Pracował/a od </b> {{simpleEmployee.startWorkDate}} <b> do </b> {{simpleEmployee.endWorkDate}} <br>
              <b>Rodzaj umowy: </b> {{simpleEmployee.contractType}} <br>
              <b>Ostatnie sekcja: </b> {{simpleEmployee.userSection}} <br>
              <b>Ostatnie linia: </b> {{simpleEmployee.userLine}}
            </div>
            <p>Czy chcesz przywrócić pracownika?</p>
            <button mat-button (click)="restore()">Przywróć</button>
          </ng-container>

          <!-- Pracownik istnieje w bazie i pracuje -->
          <ng-template #work>
            Pracownik o takim peselu istnieje już w bazie danych. <br>
            <b>{{simpleEmployee.fullName}}</b>
          </ng-template>

        </div>

        <!-- Nie znaleziono w DB. Nowy pracownik -->
        <div ng *ngIf="!checkDB">
          Podany pesel nie istnieje w bazie danych. Aby utworzyć nowego pracownika kliknij dalej.
        </div>
      </div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Wstecz</button>
      <button mat-button matStepperNext (click)="create()" [disabled]="!simpleEmployee">Dalej</button>
    </div>
  </mat-step>

  <!-- Karta trzecia -->
  <mat-step label="Dane">
    <h2>Wprowadź podstawowe dane aby zatrudnić pracownika</h2>
    <p>Reszte danych można uzupełnić w zakładce Stan osobowy</p>
    <p><small>Wszystkie dane są wymagane!</small></p>
    <!-- Formatki -->
    <form [formGroup]="hireForm" class="form_style" (ngSubmit)="submit()">
      <!-- Imię, nazwisko i pesel -->
      <div>
        <mat-form-field>
          <input matInput placeholder="Imię" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Nazwisko" formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Pesel" formControlName="pesel">
        </mat-form-field>
      </div>
      <!-- Płeć i data urodzenia -->
      <div>
        <mat-form-field>
          <mat-label>Płeć</mat-label>
          <select matNativeControl formControlName="sex">
            <option value="k">Mężczyzna</option>
            <option value="m">Kobieta</option>
          </select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Data urodzenia" [max]="startdate" formControlName="birthday" [ngModel]="startdate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- start pracy i forma zatrudnienia -->
      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Data rozpoczęcia pracy" [max]="startdate" formControlName="startWorkDate" [ngModel]="startdate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Stanowisko</mat-label>
          <select matNativeControl formControlName="position">
            <option value="doradca">Doradca</option>
            <option value="specjalista">Specjalista</option>
            <option value="kierownik">Kierownik</option>
          </select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Stanowisko na umowie" formControlName="contractPosition">
        </mat-form-field>
        <mat-form-field *ngIf = "contracts">
          <mat-select formControlName="contractType" placeholder="Umowa" >
            <mat-option *ngFor="let contract of contracts" [value]="contract.name">
              {{contract.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- zarobek -->
      <div>
        <mat-form-field>
          <mat-label>Forma wynagrodzenia</mat-label>
          <select matNativeControl formControlName="basicUnit">
            <option value="stawka">Stawka</option>
            <option value="kwota">Kwota</option>
          </select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Stawka" formControlName="unit">
        </mat-form-field>
      </div>
    <button mat-raised-button type="submit" [disabled]="!hireForm.valid">Zatrudnij</button>
    </form >
  </mat-step>
</mat-horizontal-stepper>
