<div class="hr_container">
  <h3>Roboczogodziny w danym roku</h3>

  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Wybierz rok</mat-label>
        <mat-select formControlName="year">
          <mat-option *ngFor="let year of data" [value] = "year.year">
            {{year.year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <button (click)="load()" mat-flat-button color="primary">Wczytaj</button>
  </div>
  <div *ngIf="hours">
     <!-- Tabela -->
    <div class="table_container">
      <table>
        <tr>
          <th>Styczeń</th>
          <th>Luty</th>
          <th>Marzec</th>
          <th>Kwiecień</th>
          <th>Maj</th>
          <th>Czerwiec</th>
          <th>Lipiec</th>
          <th>Sierpień</th>
          <th>Wrzesień</th>
          <th>Październik</th>
          <th>Listopad</th>
          <th>Grudzień</th>
        </tr>
        <tr>
          <td>{{hours.january}}</td>
          <td>{{hours.february}}</td>
          <td>{{hours.march}}</td>
          <td>{{hours.april}}</td>
          <td>{{hours.may}}</td>
          <td>{{hours.june}}</td>
          <td>{{hours.july}}</td>
          <td>{{hours.august}}</td>
          <td>{{hours.september}}</td>
          <td>{{hours.october}}</td>
          <td>{{hours.november}}</td>
          <td>{{hours.december}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
